body {
  background: url("src/assets/img/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* width: 50% !important; */
}

.card{
  background-color: black;
  color: white;
  padding: 10px;
  width: 390px !important;
  height: auto; 
  box-shadow: 5px 5px 5px 5px black;
  border-radius: 0;
}

.card input{
  color: white;
  background-color: black;
  width: 336px;
  border: 1px solid #e2e2e2;
  margin-left: 18px;
  padding: 5px;
}

/* .card input[type=text]:active {
  border: 1px solid #FEEE00 !important;
} */

input:focus {
  border: 1px solid #FEEE00 !important;
  outline: none;
}

.submit-button{
  background-color: #000 !important;
  border: 1px solid #FEEE00 !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-family: Roboto;
  border: 0px;
  width: 336px;
  height: 38px;
  margin: 10px 0 8px 15px;
}

.submit-button:hover{
  background-color: #FEEE00 !important;
  color: #000 !important;
}

.submit-button:disabled{
  border: none !important;
}

.main-logo{
  margin: -15px 0;
}

.curbi{
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.forgot-pass{
  margin-left: 18px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
}

.submit-button:disabled{
  background-color: gray !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-family: Roboto;
  border: 0px;
  width: 336px;
  height: 38px;
  margin: 10px 0 8px 15px;
}

.errors{
  color: red;
  font-size: 16px;
  text-align: center;
  margin-left: 18px;
}

.minlength-error{
  color: red;
  font-size: 12px;
  text-align: center;
  margin-left: 18px;
}

.alert-danger{
  background-color: red;
  color: #fff;
  border: none;
}