<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 main-content">
        <div class="w-50 card">
          <img class="main-logo" src="assets/img/logo_2.png" alt="">
          <h4 class="curbi">PARTNER CONFIGURATION</h4>
          <!-- <h4 class="forgot-pass-heading">Forgot Password</h4>
          <p class="main-data">Enter your email address and we will send you a reset password link.</p> -->
          <form class="login-form" [formGroup]="newPasswordForm">
          <div>
            <label class="ml-3">New Password</label>
            <input type="password" placeholder="New Password" formControlName="newPassWord"/>
            <div class="errors">
              <span
                *ngIf="newPasswordForm.controls.newPassWord.errors?.['required']"
                >New Passowrd is required</span
              >
            </div>
          </div>
          <div>
            <label class="ml-3 mt-3" >Confirm Password</label>
            <input type="password" placeholder="Confirm Password" formControlName="confirmPassword"/><div class="errors">
              <span
                *ngIf="newPasswordForm.controls.confirmPassword.errors?.['required']"
                >Confirm Passowrd is required</span
              >
            </div>
          </div>
          <div class="errors" *ngIf="newPasswordForm.errors?.['notSame']">
            <span>Password is not matched</span>
          </div>
          <div>
            <button type="submit" [disabled]="newPasswordForm.invalid" (click)="onClickSubmit()" class="submit-button">
              Back to Login page 
            </button>
          </div>
          </form>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</body>
</html>