
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 main-content">
        <div class="w-50 card">
          <!-- <h3 class="my-4 text-center title">MFS AFRICA</h3> -->
          <img class="main-logo" src="assets/img/logo_2.png" alt="">
          <h4 class="curbi">PARTNER CONFIGURATION</h4>
          <div class="text-center">
            <p>OTP is sent to your Mail ID !! Please check your Mail.</p>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</body>
</html>