<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 main-content">
        <div class="w-50 card">
          <!-- <h3 class="my-4 text-center title">MFS AFRICA</h3> -->
          <img class="main-logo" src="assets/img/logo_2.png" alt="">
          <h2 class="curbi">PARTNER CONFIGURATION</h2>
          <h4 class="forgot-pass-heading">Forgot Password</h4>
          <p class="main-data">Enter your email address and we will send you a OTP.</p>
          <form class="login-form" [formGroup]="forgotPassForm">
          <div>
            <input type="text" placeholder="Email" formControlName="email"/>
          </div>
          <div class="errors">
            <span
              *ngIf="forgotPassForm.controls.email.errors?.['required']"
              >Email is required</span
            >
            <div>
            <span *ngIf="forgotPassForm.controls.email.errors"
            >Please enter valid Email</span
          ></div>
          </div>
          <div *ngIf="showErrorMsg" class="alert alert-warning alert-dismissible fade show" role="alert">
            <Span>Invalid User Name, <span class="alert-back-to-login"><a (click)="backToLogin()">Please Back to Login</a></span></Span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- <div class="errors">
           
          </div> -->
          <div>
            <button type="button" [disabled]="forgotPassForm.invalid" class="submit-button" (click)="sendRestLink('0ms', '10ms')">
              Send OTP
            </button>
            <a class="back-to-login" (click)="backToLogin()">Back to Login</a>
          </div>
          </form>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</body>
</html>