body {
  background: url("src/assets/img/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* width: 50% !important; */
}

.card {
  background-color: black;
  color: white;
  padding: 2rem;
  width: 450px !important;
  height: 450px !important;
}

.card input {
  color: white;
  background-color: black;
  width: 100%;
  border: 1px solid #e2e2e2;
  padding: 5px;
}

input:focus {
  border: 1px solid #feee00 !important;
  outline: none;
}

.submit-button{
  background-color: #000 !important;
  border: 1px solid #FEEE00 !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-family: Roboto;
  border: 0px;
  width: 100%;
  height: 38px;
  margin: 15px 0px;
}

.submit-button:hover{
  background-color: #FEEE00 !important;
  color: #000 !important;
}

.submit-button:disabled{
  border: none !important;
  background-color: gray !important;
  color: #fff !important;
}

.main-logo {
  margin: -15px 0;
}

.curbi {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.back-to-login {
  margin-left: 15px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
}

.forgot-pass-heading{
    font-size: 16px;
    font-weight: normal;
}

.main-data{
    font-size: 12px;
    font-weight: normal;
}
.errors{
  color: red;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}
.alert-back-to-login{
  text-decoration: underline;
  color: black;
  cursor: pointer;
}